<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"

    package="com.example.dapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DApp"
        android:roundIcon="@mipmap/ic_launcher_round"

        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:label,android:theme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.dapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Login"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AllFunction"
            android:label="糖App" />
        <activity
            android:name=".FoodMainActivity"
            android:label="食物搜索"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".FoodSelected" />
        <activity android:name=".FoodSearch" />
        <activity android:name=".FoodSearchNull" />
        <activity
            android:name=".Register"
            android:label="用户注册"
            android:launchMode="singleTask" />
        <activity
            android:name=".FoodAllFunction"
            android:label="饮食管理" />

        <activity
            android:name=".CareerList"
            android:label="职业选择" />
        <activity
            android:name=".AllUserInfo"
            android:label="个人信息" />
        <activity android:name=".FoodSearchToAdd" />
        <activity
            android:name=".Nutrition_all"
            android:label="营养信息" />
        <activity
            android:name=".Nutrition_Test"
            android:label="营养试算" />
        <activity
            android:name=".FoodRecordListView"
            android:label="饮食记录" />
        <activity
            android:name=".FoodRecordItem"
            />

    </application>

</manifest>