<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"

    package="com.example.dapp">

    <!--写入-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--网络访问-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--WIFI信息，网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--运营商信息相关接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--WIFI获取权限用于网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--读取手机状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--SD卡读取权限，写入离线定位数据-->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/dappicon_copy"
        android:label="DApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:label,android:theme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="KUEbUbD1eV2VLHXgCNg5TVq0idAwdEsj" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.dapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.example.dapp.Login"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AllFunction"
            android:label="糖App"
            android:launchMode="singleTask" />
        <activity
            android:name=".FoodMainActivity"
            android:background="?android:colorBackground"
            android:label="食物搜索"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".FoodSelected" />
        <activity android:name=".FoodSearchNull" />
        <activity
            android:name=".Register"
            android:label="用户注册"
            android:launchMode="singleTask" />
        <activity
            android:name=".FoodAllFunction"
            android:background="?android:colorBackground"
            android:label="饮食管理"
            android:theme="@style/Translucent" />
        <activity
            android:name=".CareerList"
            android:label="职业选择" />
        <activity
            android:name=".AllUserInfo"
            android:label="个人信息" />
        <activity android:name=".FoodSearchToAdd" />
        <activity
            android:name=".Nutrition_all"
            android:label="营养信息" />
        <activity
            android:name=".Nutrition_Test"
            android:label="营养试算" />
        <activity
            android:name=".FoodRecordListView"
            android:label="饮食记录" />
        <activity android:name=".FoodRecordItem" />
        <activity
            android:name=".DietaryStatus"
            android:label="饮食情况" />
        <activity android:name=".UserPosition" />
    </application>

</manifest>